.header-menu {
  position: fixed;
  top: 62px;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 18px 12px 44px;
  background-color: $flash;
  z-index: 3;
  transform: translateX(-100%);
  transition: .2s linear;

  &--active {
    transform: translateX(0);
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 0 14px;
    border-bottom: 1px solid #E1DCDC;
    font-family: $font-second;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__icon {
    display: flex;
    width: 20px;
    height: 20px;
    fill: $gray;
  }

  .header-feedback {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: auto;
  }
}
