.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  z-index: 4;

  @include r(1200) {
    padding: 20px 0;
  }

  &--intro {
    position: fixed;
    transform: translateY(-100%);
    width: 100%;
    animation: showHeader 0.4s 1 forwards ease-in-out;
    animation-delay: 0.2s;

    @include r(1200) {
      background-color: $light;
    }

    .main-nav--fixed {
      box-shadow: none;
      background-color: $black;

      .main-nav__item,
      .main-nav__link {
        background-color: $black;
        color: $light;
      }
    }

    &.animate {
      animation: showHeader 0.4s 1 forwards ease-in-out;
      animation-delay: 4.2s;
    }
  }

  &--page {
    padding: 0;
    height: 62px;

    @include r(1200) {
      padding: 0 15px;
    }
  }
}


@keyframes showHeader {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
