.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 2;

  @include r(1200) {
    align-items: flex-start;
  }

  &--mob-column {
    @include r(1200) {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 30px;
    }
  }

  &--column {
    flex-direction: column;
    row-gap: 40px;
  }

  &--light {
    position: relative;
    background-color: $flash;

    &::before {
      position: absolute;
      top: 0;
      left: -100%;
      content: "";
      display: flex;
      width: 100%;
      height: 100%;
      background-color: $flash;
      z-index: 2;

      @include r(1200) {
        display: none;
      }
    }
  }

  &__tabs {
    display: flex;
    align-items: center;
    column-gap: 50px;

    .title {
      font-size: 64px;
      color: $gray;
      transition: .2s linear;
      cursor: pointer;
      &:hover {
        opacity: .7;
      }
      .title__icon {
        width: 34px;
        height: 44px;
        fill: $gray;
      }
    }
  }

  .tab-active {
    font-size: 94px;
    color: $red;

    @include r(1200) {
      font-size: 40px;
    }

    &:hover {
      opacity: 1;
    }

    .title__icon {
      display: flex;
      width: rem(48);
      height: rem(66);
      fill: $red;

      @include r(1200) {
        width: 22px;
        height: 30px;
      }
    }
  }

  &__text {
    font-family: $font-second;
    font-size: 14px;
    line-height: 20px;
    color: $black;

    @include r(1200) {
      max-width: 100%;
      line-height: 16px;
    }

    &--light {
      color: $light;
    }
    &--medium {
      max-width: 376px;
      font-size: 16px;
      line-height: 22px;

      @include r(1200) {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }

  &__link {
    font-family: $font-main;
    display: block;
    margin-top: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-decoration: underline;
    text-transform: uppercase;
    color: $red;

    @include r(1200) {
      margin-top: 11px;
    }

    &:hover {
      opacity: .7;
    }
  }
}