.section {
  position: relative;

  &--light {
    background-color: $flash;
  }

  &--dark {
    background-color: $black;
  }

  &--bg {
    overflow: hidden;
  }

  &--intro {
    display: flex;
    justify-content: center;
    height: calc(100vh - 62px);

    @include r(1200) {
      height: auto;
      min-height: 0;
    }
  }
  &--relative {
    z-index: 1;
    position: relative;
  }

  &--animate {
    overflow: hidden;
  }

  &--full {
    height: 100vh;
    display: flex;
    min-height: 800px;
    align-items: center;
    justify-content: center;

    @include r(1200) {
      height: auto;
      min-height: auto;
    }
  }
}
