.section {
  position: relative;
  &--light {
    background-color: $flash;
  }

  &--dark {
    background-color: $black;
  }

  &--bg {
    overflow: hidden;
  }

  &--intro {
    display: flex;
    height: calc(100vh - 119px);

    @include r(1200) {
      height: auto;
    }
  }
  &--relative {
    position: relative;
    z-index: 1;
  }

  &--animate {
    overflow: hidden;
  }
  
  &--full {
    min-height: 100vh;
  }
}
