.main-nav {
  width: 100%;
  display: flex;
  margin-top: auto;
  justify-content: center;

  @include r(1200) {
    display: none;
    visibility: hidden;
  }

  .logo {
    display: flex;
  }

  &__list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__item {
    position: relative;
    width: calc(100% / 6);
    transition: .2s linear;
    outline: 2px solid rgba(236, 0, 3, 0);

    &:hover, &:focus-within {
      color: $light;

      .main-nav__link {
        background-color: $black;
      }

      .nav-dropdown {
        opacity: 1;
        animation: dropup .4s linear forwards;
        transition: .2s linear;
      }
    }

    &:focus-within {
      outline-color: $red;
    }

    &--hidden {
      width: 0;
      opacity: 0;
      visibility: hidden;
      transition: .2s linear;
    }
  }

  &__link {
    z-index: 1;
    width: 100%;
    display: flex;
    line-height: 1;
    font-weight: 700;
    position: relative;
    font-size: rem(14);
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    background-color: $flash;
    font-family: $font-second;
    text-transform: uppercase;
    padding: rem(35) rem(10) rem(33);
  }

  &--fixed {
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    position: fixed;
    background-color: $light;
    box-shadow: 0 0 rem(10) 0 $red;

    .main-nav__list {
      max-width: 1300px;
      padding: 0 rem(15);
    }

    .main-nav__item {
      width: calc(100% / 8);
      background-color: $light;

      &:hover {
        .nav-dropdown {
          animation: dropdown .4s linear forwards;
        }
      }

      &--hidden {
        opacity: 1;
        height: auto;
        visibility: visible;
      }

      &--primary {
        .main-nav__link {
          color: #fff;
          background-color: $red;
        }

        &:hover {
          .main-nav__link {
            animation: blind .8s ease-in-out infinite backwards;
          }
        }
      }
      .nav-dropdown {
        top: 100%;
        bottom: initial;
        transform: translateY(-100%);
      }
    }

    .main-nav__link {
      padding-top: 24px;
      padding-bottom: 24px;
      background-color: $light;
    }
  }
}

@keyframes dropup{
  from {
    transform: translateY(100%);
  }
  60% {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes dropdown {
  from {
    transform: translateY(-100%);
  }
  60% {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes blind {
  from {
    box-shadow: 0 0 0 0 $red;
  }

  50% {
    box-shadow: 0 0 10px 0 $red;
  }

  to {
    box-shadow: 0 0 0 0 $red;
  }
}
