.nav-dropdown {
  position: absolute;
  left: 0;
  bottom: 100%;
  flex-direction: column;
  width: 100%;
  background-color: $light;
  transform: translateY(100%);
  z-index: 0;
  opacity: 0;

  &__item {
    border-top: 1px solid rgba(102, 102, 102, 0.1);
    transition: .2s linear;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-family: $font-second;
    text-transform: none;
    font-weight: 400;
    font-size: 14px;
    color: $dark;
    transition: .2s linear;

    &:hover {
      color: $red;
      box-shadow: 0px 4px 12px rgba(13, 13, 13, 0.06);
    }
  }
}

//.nav-dropdown {
//  position: absolute;
//  left: 0;
//  bottom: 100%;
//  flex-direction: column;
//  width: 100%;
//  background-color: $light;
//  transform: translateY(100%);
//  z-index: 0;
//  opacity: 0;
//
//  &__item {
//    border-top: 1px solid rgba(102, 102, 102, 0.1);
//    transition: .2s linear;
//  }
//
//  &__link {
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    padding: 10px;
//    font-family: $font-second;
//    text-transform: none;
//    font-weight: 400;
//    font-size: 14px;
//    color: $dark;
//    transition: .2s linear;
//
//    &:hover {
//      color: $red;
//      box-shadow: 0px 4px 12px rgba(13, 13, 13, 0.06);
//    }
//  }
//}