.blog {
  display: flex;
  flex-direction: column;

  &__header {
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 40px;
    line-height: 1;
    color: $red;
  }
  &__meta {
    display: flex;
    align-items: center;
    column-gap: 40px;
    font-family: $font-second;

    @include r(1200) {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 8px;
    }
  }
  &__author {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;

    @include r(1200) {
      font-size: 14px;
      line-height: 16px;
    }
    cite {
      font-weight: 400;
    }
  }

  &__date {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
  }

  &__picture {
    display: flex;
    height: 100%;
    max-height: 540px;
    min-height: 240px;
    width: 100%;

    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__description {
    position: relative;
    display: flex;
    justify-content: center;
    margin: -4% auto 60px;
    align-items: center;
    padding: 40px 119px;
    width: 100%;
    max-width: 1010px;
    font-family: $font-second;
    background-color: $dark;
    color: $light;

    @include r(1200) {
      padding: 30px 20px;
    }
  }

  &__toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 47px;
    max-width: 774px;
    width: 100%;
    margin: 40px auto 0;
    border-top: 1px solid $bg-light;
    @include r(1200) {
      padding-top: 37px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    column-gap: 12px;
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;

    &:hover {
      opacity: .7;
    }
  }

  &__icon {
    width: 34px;
    height: 34px;
  }
}
