.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: rem(1200);
  padding-left: rem(15);
  padding-right: rem(15);

  @include r(1200) {
    padding-left: 12px;
    padding-right: 12px;
  }

  &--fullpage {
    width: 100%;
    max-width: 1920px;
    padding: 0;
  }

  &--full {
    @include r(1200) {
      padding: 0;
    }
    .title {
      padding-left: 12px;
    }
  }
}
