.logo {
  display: flex;
  padding-top: 3px;
  transition: .2s all;
  outline: 2px solid rgba(236, 0, 3, 0);

  @at-root {
    a#{&} {
      &:focus {
        outline-color: $red;
      }
    }
  }

  &--big {
    width: 208px;
    height: 45px;
  }

  &--nav {
    padding: 0;
    max-width: rem(130);
    max-height: rem(28);
  }
}
