.terms-result {
  position: sticky;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 40px;
  background-color: #202020;
  color: $light;

  @include r(1200) {
    padding: 40px 20px;
  }

  &__title {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-bottom: 34px;
    font-family: $font-main;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;

    @include r(1200) {
      margin-bottom: 30px;
      font-size: 28px;
    }
  }

  &__icon {
    display: flex;
    width: 20px;
    height: 28px;
    fill: $light;

    @include r(1200) {
      width: 15px;
      height: 21px;
    }
  }

  &__text {
    margin-bottom: 16px;
    font-family: $font-second;
    font-size: 18px;
    line-height: 21px;

    @include r(1200) {
      margin-bottom: 14px;
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__about {
    margin-bottom: 32px;
    font-family: $font-second;
    font-size: 16px;
    line-height: 22px;
    color: $gray;

    @include r(1200) {
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__button {
    font-family: $font-main;
    font-size: 28px;

    &:hover {
      opacity: .7;
    }

    @include r(1200) {
      font-size: 18px;
      line-height: 1;
    }
  }
}