.terms-table {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 100%;
  color: $light;

  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__head {
    font-family: $font-second;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: $gray;
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 34px;
  }

  &__line {
    display: flex;
    justify-content: space-between;
    padding: 0 0 18px 10px;
    border-bottom: 1px solid #202020;

    @include r(1200) {
      padding: 0 0 12px;
    }
  }

  &__text {
    font-family: $font-second;
    font-size: 16px;
    line-height: 22px;

    @include r(1200) {
      font-size: 14px;
      line-height: 16px;
    }
  }
}