.grid-about {
  display: grid;
  grid-template-columns: repeat(4, minmax(calc(100% / 4), 1fr));

  @include r(1200) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include r(580) {
    grid-template-columns: repeat(1, 1fr);
  }

  &--triple {
    grid-template-columns: repeat(3, minmax(calc(100% / 3), 1fr));
    .grid-about__item {
      &:nth-child(1) {
        grid-column: 1/3;
        .article-about {
          &::before {
            display: none;
          }
          &::after {
            bottom: 50%;
            transform: translateY(50%);
          }
        }
      }
      &:nth-child(2) {
        .article-about {
          &::before,
          &::after {
            display: none;
          }
        }
      }
    }
    .article-about {
      &__title {
        font-family: $font-main;
        font-weight: 700;
        font-size: 26px;
        line-height: 26px;
      }
    }

    @include r(1200) {
      grid-template-columns: 1fr;
      .grid-about__item {
        &:nth-child(1) {
          grid-column: auto;
        }
      }
    }
  }
}