.error-page {
  display: flex;
  width: 100vw;
  height: calc(100vh - 233px);
  background-color: #0D0D0D;
  background-image: url('../assets/images/404-bg-brick.png'), url('../assets/images/404-bg-header.png'), url('../assets/images/404-bg-header-text.png');
  background-repeat: repeat-x, repeat-x, no-repeat;
  background-position: center bottom, center top 100px, center top 50px;
  min-height: 400px;
  cursor: url("../assets/images/mario-cursor.png"), auto;

  @include r(1200) {
    background-size: 1280px, 1280px, 768px;
    background-position: center bottom, center top 55px, center top 15px;
  }

  @include r(768) {
    background-size: 1280px, 1280px, 576px;
    background-position: center bottom, center top 40px, center top 10px;
  }

  @include r(576) {
    height: calc(100vh - 516px);
    width: 100%;
    background-size: 768px, 768px, 320px;
    background-position: center bottom, center top 25px, center top 10px;
  }

  &__picture {
    display: flex;
  }
}


.plot {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;
    overflow-x: hidden;
  }

  &__text {
    position: absolute;
    bottom: 90px;
    right: 16.6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    margin-bottom: 20px;

    @include r(1200) {
      position: static;
      margin-bottom: 8%;
      .plot__title {
        animation-delay: 0s;
      }
      .plot__subtitle {
        animation-delay: 0.5s;
      }
    }
  }

  &__title {
    display: flex;
    font-family: $font-movie;
    font-size: 150px;
    color: $red;
    opacity: 0;
    animation: dropTitle 1s 1 forwards linear;
    animation-delay: 5.5s;

    @include r(768) {
      font-size: 120px;
    }

    @include r(576) {
      font-size: 84px;
    }

    i {
      &:hover {
        animation: tilt-shaking .3s 2 linear;
      }

      @include r(1200) {
        animation: tilt-shaking .3s 2 linear;
        animation-delay: 1.5s;
      }
    }
  }

  &__call {
    position: absolute;
    top: 260px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 32px;
    column-gap: 30px;
    font-family: $font-movie;
    color: $light;
    text-align: center;
    transform: translateX(-50%);
    opacity: 0;
    animation: showText 1s 1 forwards linear;
    animation-delay: 6s;

    @include r(1200) {
      position: static;
      display: inline-block;
      text-align: center;
      font-size: 24px;
      line-height: 28px;
      animation-delay: 1s;
      transform: none;
    }
    @include r(576) {
      font-size: 14px;
      line-height: 21px;
    }

    a {
      color: $red;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
        cursor: url("../assets/images/mario-cursor-grab.png"), auto;
      }
    }
  }

  &__subtitle {
    font-family: $font-movie;
    color: $red;
    font-size: 36px;
    opacity: 0;
    animation: dropSubtitle 1s 1 forwards linear;
    animation-delay: 6s;

    @include r(768) {
      font-size: 24px;
    }
    @include r(576) {
      font-size: 20px;
    }
  }
}

.character {
  position: absolute;
  bottom: 99px;
  left: -100px;
  transition: left .4s linear;

  @include r(1800) {
    left: -400px;
  }

  @include r(1500) {
    left: -600px;
  }

  @include r(1200) {
    display: none;
  }

  &--mario {
    bottom: 102px;
    animation-name: MarioMove;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 0s;
  }

  &--bowser {
    bottom: 102px;
    left: -170px;
    animation-name: BowserMove;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 3.5s;

    @include r(1500) {
      left: -230px;
    }
  }
}

.mario {
  position: relative;
  z-index: 1;
  display: flex;
  width: 87px;
  height: 107px;
  background-image: url('../assets/images/mario-sprite.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  animation-name: marioCharsMove, backwardAnim, forwardAnim, backwardAnim, forwardAnim;
  animation-duration: 0.3s, 0.1s, 0.1s, 0.1s, 0.1s;
  animation-iteration-count: 7, 1, 1, 1, 1;
  animation-timing-function: steps(2), linear, linear, linear, linear;
  animation-fill-mode: forwards, forwards, forwards, forwards, forwards;
  animation-delay: 0s, 2.5s, 3s, 3.5s, 5.5s;

  &__question {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    animation: showMarioQuestion .2s 1 linear forwards;
    animation-delay: 5s;
    z-index: 0;
  }
}

.bowser {
  width: 156px;
  height: 156px;
  background-image: url('../assets/images/bowser.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  animation-name: bowserCharsMove;
  animation-duration: 0.4s;
  animation-iteration-count: 3;
  animation-timing-function: steps(2);
  animation-fill-mode: forwards;
  animation-delay: 3.5s;

  &__question {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    animation: showQuestion .2s 1 linear forwards;
    animation-delay: 4.5s;
    z-index: 0;
  }
}

@keyframes marioCharsMove {
  100% {
    background-position: 100% 0;
  }
}

@keyframes bowserCharsMove {
  100% {
    background-position: 100% 0;
  }
}

@keyframes MarioMove {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(1050px, 0, 0);
  }
}

@keyframes BowserMove {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(300px, 0, 0);
  }
}

@keyframes backwardAnim {
  from {
    transform: scaleX(1);
  }

  to {
    transform: scaleX(-1);
  }
}

@keyframes forwardAnim {
  from {
    transform: scaleX(-1);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes dropTitle {
  0% {
    transform: translate3d(0, -300px, 0);
  }

  50% {
    opacity: 1;
    transform: translate3d(0, 75px, 0);
  }

  70% {
    opacity: 1;
    transform: translate3d(0, -40px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}

@keyframes dropSubtitle {
  0% {
    transform: translate3d(0, -300px, 0);
  }

  50% {
    opacity: 1;
    transform: translate3d(0, 15px, 0);
  }

  70% {
    opacity: 1;
    transform: translate3d(0, -30px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}

@keyframes showQuestion {
  from {
    transform: translateX(-50%) translateY(0);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(-70px);
  }
}

@keyframes showMarioQuestion {
  from {
    transform: translateX(-50%) translateY(0);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(-70px);
  }
}

@keyframes showText {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.easter__box {
  position: absolute;
  bottom: 102px;
  right: 7.6%;
  display: flex;
  width: 74px;
  height: 74px;
  cursor: url("../assets/images/mario-cursor-grab.png"), auto;
  opacity: 0;
  z-index: 1;

  animation: boxDrop 1s 1 forwards linear;
  animation-delay: 6.5s;

  @include r(1200) {
    display: none;
  }
}

.easter__mushroom {
  position: absolute;
  right: 7.6%;
  bottom: 102px;
  opacity: 0;

  &.active {
    opacity: 1;
    animation-name: openBox, mushroomContainerMove;
    animation-duration: 1s, 2s;
    animation-iteration-count: 1, 1;
    animation-timing-function: linear, linear;
    animation-fill-mode: forwards, forwards;
    animation-delay: 0s, 1s;
  }

  @include r(1200) {
    &.active {
      opacity: 1;
      animation-name: mushroomFullMove;
      animation-duration: 3s;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-delay: 0s;
    }
  }

  @include r(1200) {
    bottom: 67px;
    right: -10%;
  }

  @include r(576) {
    bottom: 40px;
  }
}

.mushroom {
  display: flex;
  width: 73px;
  height: 73px;
  background: url('../assets/images/easter-mushroom.png');
  background-repeat: no-repeat;
  z-index: 0;

  &.active {
    opacity: 1;
    animation-name: mushroomMove;
    animation-duration: 0.3s;
    animation-timing-function: steps(2);
    animation-fill-mode: forwards;
    animation-iteration-count: 7;
  }

  @include r(1200) {
    &.active {
      animation-iteration-count: infinite;
    }
  }

  &.blink {
    animation-name: blink;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  @include r(576) {
    bottom: 40px;
    width: 40px;
    height: 40px;
    background-size: cover;
  }
}

.easter__coin {
  position: absolute;
  bottom: 102px;
  left: 1050px;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  cursor: url("../assets/images/mario-cursor-grab.png"), auto;

  &.active {
    animation-name: dropCoin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    pointer-events: auto;
  }

  @include r(1800) {
    right: 52%;
    left: initial;
  }

  @include r(1500) {
    right: 57%;
  }

  @include r(1200) {
    width: 40px;
    bottom: 66px;
  }

  @include r(576) {
    width: 25px;
    bottom: 38px;
  }
}

@keyframes boxDrop {
  0% {
    transform: translate3d(-120px, 0, 0) rotate(0);
  }
  25% {
    opacity: 1;
    transform: translate3d(-120px, -60px, 0) rotate(90deg);
  }
  75% {
    opacity: 1;
    transform: translate3d(-60px, 0px, 0) rotate(270deg);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotate(360deg);
  }
}

@keyframes mushroomContainerMove {
  0% {
    transform: translate3d(-80px, 0, 0);
  }
  100% {
    transform: translate3d(-670px, 0, 0);
  }
}

@keyframes mushroomFullMove {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1340px, 0, 0);
  }
}

@keyframes mushroomMove {
  100% {
    background-position: 100% 0;
  }
}

@keyframes openBox {
  0% {
    transform: translate3d(0, 0, 0);
  }
  45% {
    transform: translate3d(0, -80px, 0);
  }
  75% {
    transform: translate3d(-80px, -80px, 0);
  }
  100% {
    transform: translate3d(-80px, 0, 0);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes dropCoin {
  0% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    opacity: 1;
    transform: translate3d(20px, -30px, 0);
  }
  50% {
    opacity: 1;
    transform: translate3d(30px, 0, 0);
  }
  75% {
    opacity: 1;
    transform: translate3d(40px, -10px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(50px, 0, 0);
  }
}

