// Colors
$light: #FFFFFF;
$dark: #121212;
$black: #0D0D0D;
$red: #EC0003;
$flash: #FFF6F6;
$gray: #4E4E4E;
$gray-light: #6D6D6D;
$bg-light: #E1DCDC;

// Fonts
$font-main: 'Bebas Neue', sans-serif;
$font-second: 'Roboto', sans-serif;
$font-movie: 'Super Mario Bros', sans-serif;
