<!DOCTYPE html>
<html lang="ru">
<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<header class="section section--light">
    <div class="container">
        <%= htmlWebpackPlugin.options.sectionHeaderRegular %>
    </div>
</header>
<main class="main">
    <section class="section section--light">
        <div class="container">
            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link" href="/">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span>Блог</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section pt-100 ptm-55 pbm-55 pb-100">
        <div class="container">
            <div class="section-header mb-60 mbm-40">
                <div class="columns">
                    <div class="columns__col columns__col--6 columns__col--mob-2 mbm-18">
                        <h2 class="title">
                            <svg class="title__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-title-sharp"></use>
                            </svg>
                            Мы
                        </h2>
                    </div>
                    <div class="columns__col columns__col--3 columns__col--mob-2 mbm-6">
                        <p class="section-header__text">
                            #Dieztech занимается созданием инструментов коммуникации среднего и крупного бизнеса со
                            своими
                            клиентами.
                            Страсть к технологиям, опыт, умение слушать и
                            понимать цели клиента позволяют находить лучшие
                            пути решения его задач.
                        </p>
                    </div>
                    <div class="columns__col columns__col--3 columns__col--mob-2">
                        <p class="section-header__text">
                            Наши продукты влияют на сотни тысяч людей. Это
                            требует от нас ответственности, готовности решения
                            сложных задач и внимательности к изменениям в
                            отрасли.
                            <a class="section-header__link" href="#">Узнать подробнее</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="grid-about mb-30">
                <div class="grid-about__item">
                    <article class="article-about article-about--first">
                        <h3 class="article-about__title">5 место</h3>
                        <p class="article-about__text">среди веб-студий<br /> калининграда</p>
                    </article>
                </div>
                <div class="grid-about__item">
                    <article class="article-about">
                        <h3 class="article-about__title">37 место</h3>
                        <p class="article-about__text">среди создателей<br />
                            сайтов на Wordpress</p>
                    </article>
                </div>
                <div class="grid-about__item">
                    <article class="article-about">
                        <h3 class="article-about__title">56 место</h3>
                        <p class="article-about__text">среди создателей сайтов<br /> для сми</p>
                    </article>
                </div>
                <div class="grid-about__item">
                    <article class="article-about article-about--last">
                        <h3 class="article-about__title">92 место</h3>
                        <p class="article-about__text">среди создателей сайтов<br />
                            для гос.организаций</p>
                    </article>
                </div>
            </div>
            <picture class="picture picture--500">
                <img src="./assets/images/Img.jpg" alt="">
            </picture>
        </div>
    </section>
    <section class="section section--dark pt-55 pb-55">
        <div class="container">
            <h2 class="title title--medium mb-65">
                <span>frontend</span>
            </h2>
        </div>
        <div class="a-scroll a-scroll--colored mb-60" data-scroll data-direction="right">
            <div class="a-scroll__track" data-scroll-track>
                <div class="a-scroll__box" data-box>
                    <div class="a-scroll__item" data-client>
                        <picture class="a-scroll__picture">
                            <img src="assets/images/logos/icon-react.svg" alt="">
                        </picture>
                        <p class="a-scroll__name">React JS</p>
                    </div>
                    <div class="a-scroll__item" data-client>
                        <picture class="a-scroll__picture">
                            <img src="assets/images/logos/icon-vue.svg" alt="">
                        </picture>
                        <p class="a-scroll__name">Vue JS</p>
                    </div>
                    <div class="a-scroll__item" data-client>
                        <picture class="a-scroll__picture">
                            <img src="assets/images/logos/icon-js.svg" alt="">
                        </picture>
                        <p class="a-scroll__name">JavaScript</p>
                    </div>
                    <div class="a-scroll__item" data-client>
                        <picture class="a-scroll__picture">
                            <img src="assets/images/logos/icon-ts.svg" alt="">
                        </picture>
                        <p class="a-scroll__name">TypeScript</p>
                    </div>
                    <div class="a-scroll__item" data-client>
                        <picture class="a-scroll__picture">
                            <img src="assets/images/logos/icon-html.svg" alt="">
                        </picture>
                        <p class="a-scroll__name">HTML</p>
                    </div>
                    <div class="a-scroll__item" data-client>
                        <picture class="a-scroll__picture">
                            <img src="assets/images/logos/icon-css.svg" alt="">
                        </picture>
                        <p class="a-scroll__name">CSS</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h2 class="title text-right title--medium mb-65">
                <span>Backend</span>
            </h2>
        </div>
        <div class="a-scroll a-scroll--colored mb-60" data-scroll data-direction="left">
            <div class="a-scroll__track" data-scroll-track>
                <div class="a-scroll__box" data-box>
                    <div class="a-scroll__item" data-client>
                        <picture class="a-scroll__picture">
                            <img src="assets/images/logos/icon-php.svg" alt="">
                        </picture>
                        <p class="a-scroll__name">PHP</p>
                    </div>
                    <div class="a-scroll__item" data-client>
                        <picture class="a-scroll__picture">
                            <img src="assets/images/logos/icon-laravel.svg" alt="">
                        </picture>
                        <p class="a-scroll__name">Laravel</p>
                    </div>
                    <div class="a-scroll__item" data-client>
                        <picture class="a-scroll__picture">
                            <img src="assets/images/logos/icon-maria-db.svg" alt="">
                        </picture>
                        <p class="a-scroll__name">Maria DB</p>
                    </div>
                    <div class="a-scroll__item" data-client>
                        <picture class="a-scroll__picture">
                            <img src="assets/images/logos/icon-postgresql.svg" alt="">
                        </picture>
                        <p class="a-scroll__name">Postgresql</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h2 class="title title--medium mb-65">
                <span>Design</span>
            </h2>
        </div>
        <div class="a-scroll a-scroll--colored mb-60" data-scroll data-direction="right">
            <div class="a-scroll__track" data-scroll-track>
                <div class="a-scroll__box" data-box>
                    <div class="a-scroll__item" data-client>
                        <picture class="a-scroll__picture">
                            <img src="assets/images/logos/balt-laminat.png" alt="">
                        </picture>
                    </div>
                    <div class="a-scroll__item" data-client>
                        <picture class="a-scroll__picture">
                            <img src="assets/images/logos/kerasfera.png" alt="">
                        </picture>
                    </div>
                    <div class="a-scroll__item" data-client>
                        <picture class="a-scroll__picture">
                            <img src="assets/images/logos/moy-biznes.png" alt="">
                        </picture>
                    </div>
                    <div class="a-scroll__item" data-client>
                        <picture class="a-scroll__picture">
                            <img src="assets/images/logos/raketa.png" alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section pt-65 pb-50 pbm-30">
        <div class="container">
            <div class="story">
                <div class="story-list">
                    <h2 class="title title--medium mb-65">
                        <svg class="title__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-title-sharp"></use>
                        </svg>
                        История #DIEZDESIGN
                    </h2>
                    <h3 class="story-list__title">Мы делаем:</h3>
                    <ul class="story-list__items">
                        <li class="story-list__item">Разработать логотип;</li>
                        <li class="story-list__item">Разработать фирменный стиль, гайдлайн или брендбук;</li>
                        <li class="story-list__item">Построить с нуля корпоративный сайт или сайт под определённый
                            event;
                        </li>
                        <li class="story-list__item">Сотворить крутой дизайн, в том числе – флаеры, стенды, открытки,
                            упаковку;
                        </li>
                        <li class="story-list__item">Взять на постоянное обслуживание те компании, которые нуждаются в
                            крутом дизайне круглый год.
                        </li>
                    </ul>
                </div>
                <div class="story-tile">
                    <div class="story-tile__item">
                        <h3 class="story-tile__title">200+</h3>
                        <p class="story-tile__text">Успешных проектов</p>
                    </div>
                    <div class="story-tile__item">
                        <h3 class="story-tile__title">30+</h3>
                        <p class="story-tile__text">Постоянных клиентов</p>
                    </div>
                    <div class="story-tile__item">
                        <h3 class="story-tile__title">6+</h3>
                        <p class="story-tile__text">Лет опыта</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section pt-65 ptm-30 pb-50 pbm-30">
        <div class="container">
            <h2 class="title title--medium mb-65 mbm-40">
                <svg class="title__icon">
                    <use xlink:href="./assets/sprite/sprite.svg#icon-title-sharp"></use>
                </svg>
                Жизнь компании
            </h2>
            <div class="grid-tiles">
                <div class="grid-tiles__item grid-tiles__item--big">
                    <article class="article-tile">
                        <picture class="article-tile__picture">
                            <img src="https://fakeimg.pl/600x400" alt="">
                        </picture>
                    </article>
                </div>
                <div class="grid-tiles__item">
                    <article class="article-tile">
                        <picture class="article-tile__picture">
                            <img src="https://fakeimg.pl/600x400" alt="">
                        </picture>
                    </article>
                </div>
                <div class="grid-tiles__item">
                    <article class="article-tile">
                        <picture class="article-tile__picture">
                            <img src="https://fakeimg.pl/600x400" alt="">
                        </picture>
                    </article>
                </div>
                <div class="grid-tiles__item">
                    <article class="article-tile">
                        <picture class="article-tile__picture">
                            <img src="https://fakeimg.pl/600x400" alt="">
                        </picture>
                    </article>
                </div>
                <div class="grid-tiles__item">
                    <article class="article-tile">
                        <picture class="article-tile__picture">
                            <img src="https://fakeimg.pl/600x400" alt="">
                        </picture>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="section pt-65 ptm-30 pb-50 pbm-60">
        <div class="container">
            <h2 class="title title--medium mb-65 mbm-40">
                <svg class="title__icon">
                    <use xlink:href="./assets/sprite/sprite.svg#icon-title-sharp"></use>
                </svg>
                Команда
            </h2>
            <div class="grid-team mb-60 mbm-50">
                <div class="grid-team__item grid-team__item--intro">
                    <article class="article-team article-team--accent">
                        <div class="article-team__info">
                            <h3 class="article-team__title">80</h3>
                            <p class="article-team__text">человек работает в нашей компании </p>
                        </div>
                    </article>
                </div>
                <div class="grid-team__item">
                    <article class="article-team">
                        <picture class="article-team__picture">
                            <img class="article-team__main" src="./assets/images/employee-1.png" alt="">
                            <img class="article-team__back" src="./assets/images/employee-2.png" alt="">
                        </picture>
                        <div class="article-team__info">
                            <h3 class="article-team__title">Ксения Зиннурова</h3>
                            <p class="article-team__text">Основатель и креативный директор</p>
                        </div>
                    </article>
                </div>
                <div class="grid-team__item">
                    <article class="article-team article-team--light">
                        <picture class="article-team__picture">
                            <img class="article-team__main" src="./assets/images/employee-2.png" alt="">
                            <img class="article-team__back" src="./assets/images/employee-1.png" alt="">
                        </picture>
                        <div class="article-team__info">
                            <h3 class="article-team__title">Ксения Зиннурова</h3>
                            <p class="article-team__text">Основатель и креативный директор</p>
                        </div>
                    </article>
                </div>
                <div class="grid-team__item grid-team__item--big">
                    <article class="article-team">
                        <picture class="article-team__picture">
                            <img class="article-team__main" src="./assets/images/employee-1.png" alt="">
                            <img class="article-team__back" src="./assets/images/employee-2.png" alt="">
                        </picture>
                        <div class="article-team__info">
                            <h3 class="article-team__title">Ксения Зиннурова</h3>
                            <p class="article-team__text">Основатель и креативный директор</p>
                        </div>
                    </article>
                </div>
                <div class="grid-team__item grid-team__item--big">
                    <article class="article-team">
                        <picture class="article-team__picture">
                            <img class="article-team__main" src="./assets/images/employee-1.png" alt="">
                            <img class="article-team__back" src="./assets/images/employee-2.png" alt="">
                        </picture>
                        <div class="article-team__info">
                            <h3 class="article-team__title">Ксения Зиннурова</h3>
                            <p class="article-team__text">Основатель и креативный директор</p>
                        </div>
                    </article>
                </div>
                <div class="grid-team__item">
                    <article class="article-team article-team--light">
                        <picture class="article-team__picture">
                            <img class="article-team__main" src="./assets/images/employee-2.png" alt="">
                            <img class="article-team__back" src="./assets/images/employee-1.png" alt="">
                        </picture>
                        <div class="article-team__info">
                            <h3 class="article-team__title">Ксения Зиннурова</h3>
                            <p class="article-team__text">Основатель и креативный директор</p>
                        </div>
                    </article>
                </div>
                <div class="grid-team__item">
                    <article class="article-team">
                        <picture class="article-team__picture">
                            <img class="article-team__main" src="./assets/images/employee-1.png" alt="">
                            <img class="article-team__back" src="./assets/images/employee-2.png" alt="">
                        </picture>
                        <div class="article-team__info">
                            <h3 class="article-team__title">Ксения Зиннурова</h3>
                            <p class="article-team__text">Основатель и креативный директор</p>
                        </div>
                    </article>
                </div>
                <div class="grid-team__item grid-team__item--big">
                    <article class="article-team">
                        <picture class="article-team__picture">
                            <img class="article-team__main" src="./assets/images/employee-1.png" alt="">
                            <img class="article-team__back" src="./assets/images/employee-2.png" alt="">
                        </picture>
                        <div class="article-team__info">
                            <h3 class="article-team__title">Ксения Зиннурова</h3>
                            <p class="article-team__text">Основатель и креативный директор</p>
                        </div>
                    </article>
                </div>
                <div class="grid-team__item">
                    <article class="article-team article-team--light">
                        <picture class="article-team__picture">
                            <img class="article-team__main" src="./assets/images/employee-2.png" alt="">
                            <img class="article-team__back" src="./assets/images/employee-1.png" alt="">
                        </picture>
                        <div class="article-team__info">
                            <h3 class="article-team__title">Ксения Зиннурова</h3>
                            <p class="article-team__text">Основатель и креативный директор</p>
                        </div>
                    </article>
                </div>
                <div class="grid-team__item">
                    <article class="article-team">
                        <picture class="article-team__picture">
                            <img class="article-team__main" src="./assets/images/employee-1.png" alt="">
                            <img class="article-team__back" src="./assets/images/employee-2.png" alt="">
                        </picture>
                        <div class="article-team__info">
                            <h3 class="article-team__title">Ксения Зиннурова</h3>
                            <p class="article-team__text">Основатель и креативный директор</p>
                        </div>
                    </article>
                </div>
                <div class="grid-team__item grid-team__item--big">
                    <article class="article-team article-team--light">
                        <picture class="article-team__picture">
                            <img class="article-team__main" src="./assets/images/employee-2.png" alt="">
                            <img class="article-team__back" src="./assets/images/employee-1.png" alt="">
                        </picture>
                        <div class="article-team__info">
                            <h3 class="article-team__title">Ксения Зиннурова</h3>
                            <p class="article-team__text">Основатель и креативный директор</p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="toolbar">
                <button class="button centered button--radius" data-open>Стать частью команды</button>
            </div>
        </div>
    </section>
    <section class="section section--light pt-100 ptm-55 pbm-55 pb-100">
        <div class="container">
            <div class="section-header section-header--mob-column mb-60 mbm-30">
                <h2 class="title tab-active">
                    <svg class="title__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-title-sharp"></use>
                    </svg>
                    Заказать проект
                </h2>
                <p class="section-header__text section-header__text--medium">
                    Привет! Мы рады услышать от вас, и давайте начнем что-то особенное вместе. Позвоните нам по любому
                    вопросу.
                </p>
            </div>
            <div class="columns">
                <div class="columns__col columns__col--3 columns__col--mob-2 mbm-30">
                    <div class="address address--dark">
                        <ul class="address__list">
                            <li class="address__item">
                                <a href="tel:+74012751750">+7 (4012) 751 750</a>
                            </li>
                            <li class="address__item">
                                <a href="mailto:info@example">info@example</a>
                            </li>
                            <li class="address__item">
                                г. Калининград, Советский пр-т,14-16 (Мелиоратор), офис 309
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="columns__col columns__col--1 mob-hidden"></div>
                <div class="columns__col columns__col--8 columns__col--mob-2">
                    <form class="form form--dark">
                        <div class="form__info">
                            <fieldset class="form__wrapper form__wrapper--grid">
                                <label class="form__item">
                                    <input class="input input--form" name="USER_TEXT" type="text"
                                           placeholder="Текст" required>
                                    <span class="form__text">Текст <sup>*</sup></span>
                                </label>
                                <label class="form__item">
                                    <input class="input input--form" name="USER_EMAIL" type="email"
                                           placeholder="Email" required>
                                    <span class="form__text">Email <sup>*</sup></span>
                                </label>
                                <label class="form__item">
                                    <input class="input input--form" name="USER_PHONE" type="tel"
                                           placeholder="Телефон" required>
                                    <span class="form__text">Телефон <sup>*</sup></span>
                                </label>
                                <label class="form__item">
                                    <input class="input input--form" name="USER_COMPANY" type="text"
                                           placeholder="Компания">
                                    <span class="form__text">Компания</span>
                                </label>
                            </fieldset>
                            <fieldset class="form__wrapper">
                                <label class="form__item">
                                    <textarea class="input input--area input--form" name="USER_MESSAGE"
                                              placeholder="Сообщение" required></textarea>
                                    <span class="form__text">Сообщение <sup>*</sup></span>
                                </label>
                            </fieldset>
                        </div>
                        <button class="button button--circle">
                            <span>
                                Отправить
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<div class="about-more">
    <div class="container">
        <div class="about-more__header">
            <a href="/" class="about-more__logo">
                <img src="../assets/images/icon-logo-white.svg" alt="">
            </a>
            <div class="about-more__close">
                <svg>
                    <use xlink:href="./assets/sprite/sprite.svg#icon-close"></use>
                </svg>
            </div>
        </div>
        <div class="slider slider--about" data-slider="about">
            <div class="swiper" data-slide>
                <div class="swiper-wrapper">
                    <div class="swiper-slide swiper-slide--person">
                        <div class="article-person">
                            <div class="article-person__name">
                                <h3 class="about-more__title">Ксения Зиннурова</h3>
                                <p class="about-more__text">Контент-менеджер</p>
                            </div>
                            <picture class="article-person__picture">
                                <img src="./assets/images/person-1.png" alt="">
                            </picture>
                            <div class="about-more__info">
                                <h3 class="about-more__title">Ксения Зиннурова</h3>
                                <p class="about-more__text">Контент-менеджер</p>

                                <div class="about-more__quote-block">
                                    <q class="about-more__quote">
                                        Очень люблю русский язык и не даю его в обиду. Люблю работу, дающую осязаемый
                                        результат. Придираст.
                                    </q>
                                    <a href="mailto:kseniazunnurova.gmail@.com" class="about-more__mail">kseniazunnurova.gmail@.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide--person">
                        <div class="article-person">
                            <div class="article-person__name">
                                <h3 class="about-more__title">Ксения Зиннурова</h3>
                                <p class="about-more__text">Контент-менеджер</p>
                            </div>
                            <picture class="article-person__picture">
                                <img src="./assets/images/employee-1.png" alt="">
                            </picture>
                            <div class="about-more__info">
                                <h3 class="about-more__title">Ксения Зиннурова</h3>
                                <p class="about-more__text">Контент-менеджер</p>

                                <div class="about-more__quote-block">
                                    <q class="about-more__quote">
                                        Сегодня у нас в гостях человек, при жизни ставший легендой.
                                        Народный артист Советского Союза, Украины, России и даже Чечено-Ингушетии,
                                        лауреат государственной премии СССР и премии ленинского комсомола, человек
                                        признанный, известный, авторитетный, мэтр, но потом подумав я всё-таки решил
                                        начать иначе, сегодня у нас в гостях человек который творил эту эпоху, и который
                                        сам стал эпохой, человек которого я очень уважаю и люблю.
                                    </q>
                                    <a href="mailto:kseniazunnurova.gmail@.com" class="about-more__mail">kseniazunnurova.gmail@.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide--person">
                        <div class="article-person">
                            <div class="article-person__name">
                                <h3 class="about-more__title">Ксения Зиннурова</h3>
                                <p class="about-more__text">Контент-менеджер</p>
                            </div>
                            <picture class="article-person__picture">
                                <img src="./assets/images/person-1.png" alt="">
                            </picture>
                            <div class="about-more__info">
                                <h3 class="about-more__title">Ксения Зиннурова</h3>
                                <p class="about-more__text">Контент-менеджер</p>

                                <div class="about-more__quote-block">
                                    <q class="about-more__quote">
                                        Очень люблю русский язык и не даю его в обиду. Люблю работу, дающую осязаемый
                                        результат. Придираст.
                                    </q>
                                    <a href="mailto:kseniazunnurova.gmail@.com" class="about-more__mail">kseniazunnurova.gmail@.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide--person">
                        <div class="article-person">
                            <div class="article-person__name">
                                <h3 class="about-more__title">Ксения Зиннурова</h3>
                                <p class="about-more__text">Контент-менеджер</p>
                            </div>
                            <picture class="article-person__picture">
                                <img src="./assets/images/person-1.png" alt="">
                            </picture>
                            <div class="about-more__info">
                                <h3 class="about-more__title">Ксения Зиннурова</h3>
                                <p class="about-more__text">Контент-менеджер</p>

                                <div class="about-more__quote-block">
                                    <q class="about-more__quote">
                                        Очень люблю русский язык и не даю его в обиду. Люблю работу, дающую осязаемый
                                        результат. Придираст.
                                    </q>
                                    <a href="mailto:kseniazunnurova.gmail@.com" class="about-more__mail">kseniazunnurova.gmail@.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide--person">
                        <div class="article-person">
                            <div class="article-person__name">
                                <h3 class="about-more__title">Ксения Зиннурова</h3>
                                <p class="about-more__text">Контент-менеджер</p>
                            </div>
                            <picture class="article-person__picture">
                                <img src="./assets/images/person-1.png" alt="">
                            </picture>
                            <div class="about-more__info">
                                <h3 class="about-more__title">Ксения Зиннурова</h3>
                                <p class="about-more__text">Контент-менеджер</p>

                                <div class="about-more__quote-block">
                                    <q class="about-more__quote">
                                        Очень люблю русский язык и не даю его в обиду. Люблю работу, дающую осязаемый
                                        результат. Придираст.
                                    </q>
                                    <a href="mailto:kseniazunnurova.gmail@.com" class="about-more__mail">kseniazunnurova.gmail@.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider__buttons slider__buttons--person" data-nav>
                    <div class="swiper-button-prev slider__button slider__buttons--invert slider__button--person slider__button--prev"
                         data-button-prev>
                        <svg class="slider__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </div>
                    <div class="swiper-button-next slider__button  slider__buttons--invert slider__button--person slider__button--next"
                         data-button-next>
                        <svg class="slider__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-more__bottom"></div>
</div>
<div class="modal" data-toggle>
    <div class="modal__container" data-container>
        <h3 class="modal__title">Отправить свое резюме</h3>
        <form class="form form--modal form--dark">
            <fieldset class="form__wrapper">
                <label class="form__item">
                    <input class="input input--form" name="USER_NAME" type="text"
                           placeholder="Имя" required>
                    <span class="form__text">Имя <sup>*</sup></span>
                </label>
                <label class="form__item">
                    <input class="input input--form" name="USER_CONTACTS" type="email"
                           placeholder="Email/Телефон" required>
                    <span class="form__text">Email/Телефон <sup>*</sup></span>
                </label>
                <label class="form__item">
                    <input class="input input--form" name="USER_RESUME" type="tel"
                           placeholder="Ссылка на резюме/портфолио/сайт">
                    <span class="form__text">Ссылка на резюме/портфолио/сайт</span>
                </label>
            </fieldset>
            <label class="form__item mb-35 mbm-10">
                <span class="form__file">Прикрепить файл</span>
                <input type="file">
            </label>
            <button class="button button--radius">
                <span>
                    Отправить
                </span>
            </button>
            <p class="form__description">
                Нажимая на кнопку, вы даете <span>согласие</span> на обработку персональных данных и соглашаетесь с политикой
                конфиденциальности.
            </p>
        </form>
        <div class="modal__close" data-close>
            <svg class="modal__icon">
                <use xlink:href="./assets/sprite/sprite.svg#icon-close"></use>
            </svg>
        </div>
    </div>
</div>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>
