<!DOCTYPE html>
<html lang="ru">
<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div id="cursor"></div>
<div id="aura"></div>
<header class="section section--light">
    <div class="container">
        <%= htmlWebpackPlugin.options.sectionHeaderRegular %>
    </div>
</header>
<main class="main">
    <section class="section section--light">
        <div class="container">
            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link" href="/">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span>Блог</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section section--light pb-100 pbm-55">
        <div class="container">
            <div class="section-header section-header--mob-column mb-92 mbm-40">
                <h2 class="title tab-active">
                    <svg class="title__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-title-sharp"></use>
                    </svg>
                    Блог
                </h2>
                <p class="section-header__text text-right">
                    Лайфхаки, инструменты, инструкции для<br> самостоятельного продвижения. Пользуйтесь<br>
                    и не забудьте подписаться.
                </p>
            </div>
            <div class="grid-blog mb-80">
                <div class="grid-blog__item grid-blog__item--full">
                    <a href="#" class="article-blog">
                        <div class="article-blog__picture">
                            <img src="./assets/images/blog-1.png" alt="">
                            <time class="article-blog__date" datetime="08.01.2023">8 января 2023</time>
                        </div>
                        <span class="article-blog__content">
                            <p class="article-blog__author">автор: <cite>Евгений Иванов</cite></p>
                            <h3 class="article-blog__title">
                                Особенности публикации финтех-приложений в сторах.
                            </h3>
                        </span>
                    </a>
                </div>
                <div class="grid-blog__item grid-blog__item--big">
                    <a href="#" class="article-blog article-blog--accent">
                        <div class="article-blog__picture">
                            <img src="./assets/images/blog-1.png" alt="">
                            <time class="article-blog__date" datetime="08.01.2023">8 января 2023</time>
                        </div>
                        <span class="article-blog__content">
                            <p class="article-blog__author">автор: <cite>Евгений Иванов</cite></p>
                            <h3 class="article-blog__title">
                                Структура идеальной ретроспективы.
                            </h3>
                        </span>
                    </a>
                </div>
                <div class="grid-blog__item">
                    <a href="#" class="article-blog">
                        <div class="article-blog__picture">
                            <img src="./assets/images/blog-1.png" alt="">
                            <time class="article-blog__date" datetime="08.01.2023">8 января 2023</time>
                        </div>
                        <span class="article-blog__content">
                            <p class="article-blog__author">автор: <cite>Евгений Иванов</cite></p>
                            <h3 class="article-blog__title">
                                Банки и страховые в одном смартфоне. Рецепт приготовления удобного финтех-приложения.
                            </h3>
                        </span>
                    </a>
                </div>
                <div class="grid-blog__item">
                    <a href="#" class="article-blog">
                        <div class="article-blog__picture">
                            <img src="./assets/images/blog-1.png" alt="">
                            <time class="article-blog__date" datetime="08.01.2023">8 января 2023</time>
                        </div>
                        <span class="article-blog__content">
                            <p class="article-blog__author">автор: <cite>Евгений Иванов</cite></p>
                            <h3 class="article-blog__title">как мы тестировали первый в россии финансовый маркетплейс</h3>
                        </span>
                    </a>
                </div>
                <div class="grid-blog__item">
                    <a href="#" class="article-blog">
                        <div class="article-blog__picture">
                            <img src="./assets/images/blog-1.png" alt="">
                            <time class="article-blog__date" datetime="08.01.2023">8 января 2023</time>
                        </div>
                        <span class="article-blog__content">
                            <p class="article-blog__author">автор: <cite>Евгений Иванов</cite></p>
                            <h3 class="article-blog__title">Банки и страховые в одном смартфоне. Рецепт приготовления удобного финтех-приложения</h3>
                        </span>
                    </a>
                </div>
                <div class="grid-blog__item">
                    <a href="#" class="article-blog">
                        <div class="article-blog__picture">
                            <img src="./assets/images/blog-1.png" alt="">
                            <time class="article-blog__date" datetime="08.01.2023">8 января 2023</time>
                        </div>
                        <span class="article-blog__content">
                            <p class="article-blog__author">автор: <cite>Евгений Иванов</cite></p>
                            <h3 class="article-blog__title">тренды логотипов 2023 года</h3>
                        </span>
                    </a>
                </div>
                <div class="grid-blog__item">
                    <a href="#" class="article-blog article-blog--accent">
                        <div class="article-blog__picture">
                            <img src="./assets/images/blog-1.png" alt="">
                            <time class="article-blog__date" datetime="08.01.2023">8 января 2023</time>
                        </div>
                        <span class="article-blog__content">
                            <p class="article-blog__author">автор: <cite>Евгений Иванов</cite></p>
                            <h3 class="article-blog__title">Как проводить качественные исследования: интервью, UX-тестирование и фокус-группы.</h3>
                        </span>
                    </a>
                </div>
                <div class="grid-blog__item grid-blog__item--big">
                    <a href="#" class="article-blog">
                        <div class="article-blog__picture">
                            <img src="./assets/images/blog-1.png" alt="">
                            <time class="article-blog__date" datetime="08.01.2023">8 января 2023</time>
                        </div>
                        <span class="article-blog__content">
                            <p class="article-blog__author">автор: <cite>Евгений Иванов</cite></p>
                            <h3 class="article-blog__title">Защищаем данные на проекте: про плагин Calico и правила работы с ним</h3>
                        </span>
                    </a>
                </div>
                <div class="grid-blog__item grid-blog__item--full">
                    <a href="#" class="article-blog">
                        <div class="article-blog__picture">
                            <img src="./assets/images/blog-1.png" alt="">
                            <time class="article-blog__date" datetime="08.01.2023">8 января 2023</time>
                        </div>
                        <span class="article-blog__content">
                            <p class="article-blog__author">автор: <cite>Евгений Иванов</cite></p>
                            <h3 class="article-blog__title">Особенности публикации финтех-приложений в сторах</h3>
                        </span>
                    </a>
                </div>
            </div>
            <div class="loader center">
                <img src="./assets/images/Loading.svg" alt="">
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>
