<!DOCTYPE html>
<html lang="ru">
<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<header class="section section--light">
    <div class="container">
        <%= htmlWebpackPlugin.options.sectionHeaderRegular %>
    </div>
</header>
<main class="main">
    <section class="section section--light">
        <div class="container">
            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link" href="/">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span>Блог</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section section--light pb-80">
        <div class="container">
            <div class="section-header section-header--mob-column">
                <h2 class="title">
                    <svg class="title__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-title-sharp"></use>
                    </svg>
                    Кейсы
                </h2>
                <p class="section-header__text text-right">
                    Лайфхаки, инструменты, инструкции для<br> самостоятельного продвижения. Пользуйтесь<br>
                    и не забудьте подписаться.
                </p>
            </div>
        </div>
    </section>
    <section class="section section--light pb-100 pbm-55">
        <div class="container">
            <nav class="nav mb-60 mbm-40">
                <a href="#" class="nav__link nav__link--active" data-link>Все проекты</a>
                <a href="#" class="nav__link" data-link>Интернет магазины</a>
                <a href="#" class="nav__link" data-link>Информационные сайты</a>
                <a href="#" class="nav__link" data-link>Корпоративные сайты</a>
                <a href="#" class="nav__link" data-link>Сайты визитки</a>
            </nav>
            <div class="grid-cases mb-80 mbm-50" data-cases>
                <div class="grid-cases__item">
                    <a href="" class="article-case">
                        <picture class="article-case__picture">
                            <img src="https://fakeimg.pl/1920x1080" alt="">
                        </picture>
                        <h3 class="article-case__title">Балтламинат</h3>
                        <p class="article-case__category">Интернет-магазин</p>
                    </a>
                </div>
                <div class="grid-cases__item">
                    <a href="" class="article-case">
                        <picture class="article-case__picture">
                            <img src="https://fakeimg.pl/1920x1080" alt="">
                        </picture>
                        <h3 class="article-case__title">Профессиональная онлайн-платформа по подготовке специалистов
                            беспилотной авиации</h3>
                        <p class="article-case__category">Интернет-магазин</p>
                    </a>
                </div>
                <div class="grid-cases__item">
                    <a href="" class="article-case">
                        <picture class="article-case__picture">
                            <img src="https://fakeimg.pl/1920x1080" alt="">
                        </picture>
                        <h3 class="article-case__title">Балтламинат</h3>
                        <p class="article-case__category">Интернет-магазин</p>
                    </a>
                </div>
            </div>
            <div class="loader center">
                <img src="./assets/images/Loading.svg" alt="">
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>
