<!DOCTYPE html>
<html lang="ru">
<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div id="cursor"></div>
<div id="aura"></div>
<header class="section section--light">
    <div class="container">
        <%= htmlWebpackPlugin.options.sectionHeaderRegular %>
    </div>
</header>
<main class="main">
    <section class="section section--light">
        <div class="container">
            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link" href="/">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span>Блог</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section pt-60 pb-60">
        <div class="container">
            <div class="section-header section-header--mob-column mb-92">
                <h2 class="title tab-active">
                    <svg class="title__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-title-sharp"></use>
                    </svg>
                    Контакты
                </h2>
                <p class="section-header__text text-right">
                    Лайфхаки, инструменты, инструкции для<br> самостоятельного продвижения. Пользуйтесь<br>
                    и не забудьте подписаться.
                </p>
            </div>
            <div class="columns mb-60">
                <div class="columns__col columns__col--5 columns__col--mob-2 mbm-30">
                    <div class="address-contacts">
                        <ul class="address-contacts__list">
                            <li class="address-contacts__item">
                                <span>Телефон</span>
                                <a href="tel:+74012751750">+7 (4012) 751 750</a>
                            </li>
                            <li class="address-contacts__item">
                                <span>Email</span>
                                <a href="mailto:info@example">info@example</a>
                            </li>
                            <li class="address-contacts__item">
                                <span>Адрес</span>
                                <a href="#">г. Калининград, Советский пр-т,14-16 (Мелиоратор), офис 309</a>
                            </li>
                            <li class="address-contacts__item">
                                <span>Соц. сети</span>
                                <div class="address-contacts__social">
                                    <a href="#">Telegram</a>
                                    <a href="#">Вконтакты</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="columns__col columns__col--7 columns__col--mob-2">
                    <form class="form form--dark">
                        <div class="form__info">
                            <fieldset class="form__wrapper form__wrapper--grid">
                                <label class="form__item">
                                    <input class="input input--form" name="USER_TEXT" type="text"
                                           placeholder="Текст" required>
                                    <span class="form__text">Имя <sup>*</sup></span>
                                </label>
                                <label class="form__item">
                                    <input class="input input--form" name="USER_EMAIL" type="email"
                                           placeholder="Email" required>
                                    <span class="form__text">Email <sup>*</sup></span>
                                </label>
                                <label class="form__item">
                                    <input class="input input--form" name="USER_PHONE" type="tel"
                                           placeholder="Телефон" required>
                                    <span class="form__text">Телефон <sup>*</sup></span>
                                </label>
                                <label class="form__item">
                                    <input class="input input--form" name="USER_COMPANY" type="text"
                                           placeholder="Компания">
                                    <span class="form__text">Компания</span>
                                </label>
                            </fieldset>
                            <fieldset class="form__wrapper">
                                <label class="form__item">
                                    <textarea class="input input--area input--form" name="USER_MESSAGE"
                                              placeholder="Сообщение" required></textarea>
                                    <span class="form__text">Сообщение <sup>*</sup></span>
                                </label>
                            </fieldset>
                        </div>
                        <button class="button button--circle">
                            <span>
                                Отправить
                            </span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="map">
                <div style="position:relative;overflow:hidden;"><a
                        href="https://yandex.ru/maps/org/diez_design/143377252181/?utm_medium=mapframe&utm_source=maps"
                        style="color:#eee;font-size:12px;position:absolute;top:0px;">Diez Design</a><a
                        href="https://yandex.ru/maps/22/kaliningrad/category/design_studio/184108267/?utm_medium=mapframe&utm_source=maps"
                        style="color:#eee;font-size:12px;position:absolute;top:14px;">Студия дизайна в Калининграде</a>
                    <iframe src="https://yandex.ru/map-widget/v1/?ll=20.438083%2C54.723096&mode=search&oid=143377252181&ol=biz&z=17.03"
                            width="560" height="400" frameborder="1" allowfullscreen="true"
                            style="position:relative;"></iframe>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>
