.burger {
  position: relative;
  display: none;
  width: 22px;
  height: 14px;
  transition: .2s linear;

  @include r(1200) {
    display: flex;
  }

  &::before,
  &::after,
  &__item {
    position: absolute;
    left: 0;
    content: '';
    display: block;
    width: 22px;
    height: 2px;
    background-color: #202020;
    border-radius: 50px;
  }

  &::before {
    top: 0;
    transition: top .2s .2s linear, transform .2s 0s linear;
  }

  &::after {
    top: 12px;
    transition: top .2s .2s linear, transform .2s 0s linear;
  }

  &__item {
    top: 6px;
    transition: opacity .2s .2s linear;
  }

  &--active {
    &::before {
      top: 6px;
      transform: rotate(45deg);
      transition: top .2s 0s linear, transform .2s .3s linear;
    }
    .burger__item {
      opacity: 0;
    }
    &::after {
      top: 6px;
      transform: rotate(-45deg);
      transition: top .2s 0s linear, transform .2s .3s linear;
    }
  }
}
