.title {
  display: flex;
  align-items: flex-start;
  column-gap: 14px;
  font-weight: 700;
  font-size: 94px;
  color: $red;
  text-transform: uppercase;

  @include r(1200) {
    column-gap: 8px;
    font-size: 40px;
  }

  &--column {
    flex-direction: column;
  }
  
  span {
    padding-left: 120px;
  }

  &--light {
    color: $light;
  }

  &__icon {
    display: flex;
    margin-top: 12px;
    width: rem(48);
    height: rem(66);
    fill: $red;

    @include r(1200) {
      margin-top: 6px;
      width: 22px;
      height: 30px;
    }
  }

  &--medium {
    font-size: 40px;
  }

  &--small {
    font-size: 28px;

    .title__icon {
      display: flex;
      width: rem(16);
      height: rem(22);
      fill: $red;
    }
  }
}