.title {
  color: $red;
  display: flex;
  font-weight: 700;
  font-size: rem(94);
  column-gap: rem(14);
  align-items: flex-start;
  text-transform: uppercase;

  @include r(1200) {
    column-gap: rem(8);
    font-size: rem(40);
  }

  @at-root {
    button#{&} {
      outline: 2px solid rgba(236, 0, 3, 0);

      &:focus {
        outline-color: $red;
      }
    }
  }

  &--column {
    flex-direction: column;
  }

  span {
    color: $light;
  }
  .padding {
    padding-left: rem(120);
  }

  &--light {
    color: $light;
  }

  &__icon {
    fill: $red;
    display: flex;
    width: rem(48);
    height: rem(66);
    margin-top: rem(12);

    @include r(1200) {
      width: rem(22);
      height: rem(30);
      margin-top: rem(6);
    }
  }

  &--medium {
    font-size: 40px;

    .title__icon {
      width: 25px;
      height: 34px;
      margin-top: 3px;
    }
  }

  &--small {
    font-size: 28px;

    .title__icon {
      display: flex;
      width: rem(16);
      height: rem(22);
      fill: $red;
    }
  }
}
