.button {
  color: $dark;
  font-weight: 400;
  font-size: rem(14);
  position: relative;
  font-family: $font-second;

  &__icon {
    top: 27%;
    width: 8px;
    height: 8px;
    fill: $dark;
    right: -11px;
    display: flex;
    position: absolute;
  }

  &--radius {
    color: $light;
    font-weight: 700;
    border-radius: rem(50);
    background-color: $dark;
    text-transform: uppercase;
    padding: rem(13) rem(24) rem(12);
    outline: 2px solid rgba(236, 0, 3, 0);

    @include r(1200) {
      font-size: rem(14);
    }

    &:hover {
      background-color: $red;
    }

    &:focus {
      outline-color: $red;
    }
  }

  &--circle {
    display: flex;
    width: rem(130);
    height: rem(130);
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: rem(20) rem(10);
    border: 1px solid $gray-light;
    outline: 2px solid rgba(236, 0, 3, 0);

    @include r(1200) {
      width: rem(92);
      height: rem(92);
      font-size: rem(12);
    }

    &::before {
      width: 0;
      height: 0;
      opacity: 0;
      content: '';
      display: flex;
      position: absolute;
      border-color: $red;
      border-radius: 50%;
      background-color: $red;
      transition: .2s linear;
      clip-path: circle(25% at 50% 50%);
    }

    span {
      position: relative;
    }

    &:hover, &:focus-within {
      color: $light;
      border-color: $red;

      &::before {
        opacity: 1;
        width: 100%;
        height: 100%;
        clip-path: circle(100%);
      }
    }

    &--light {
      color: $light;
    }
  }

  &--square {
    color: $light;
    border-radius: 0;
    font-size: rem(16);
    padding: rem(14) rem(34);
  }

  &--red {
    background-color: $red;
  }

  &--left {
    margin: auto rem(12);
  }
}
