.clients {
  display: flex;
  width: 100%;
  overflow-x: auto;

  &::-webkit-scrollbar-thumb {
    display: none;
  }
  &::-webkit-scrollbar {
    display: none;
  }

  &__track {
    position: relative;
    display: flex;
    flex-shrink: 0;
  }

  &__box {
    display: flex;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding-left: 65px;
    padding-right: 65px;
    height: 161px;
    border: 1px solid $gray;
    border-left: none;

    &:first-child {
      border-left: 1px solid $gray;
    }

    &:hover {
      .clients__picture {
          filter: none;
      }
    }
  }

  &__picture {
    filter: grayscale(100%) brightness(5);
    transition: .2s linear;
    user-select: none;
    img {
      pointer-events: none;
    }
  }

  &--black {
    .clients__picture {
      filter: grayscale(100%);
      transition: .2s linear;
      user-select: none;
      img {
        pointer-events: none;
      }
    }
  }
}

@keyframes slideSponsors {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}