.footer {
  display: flex;
  padding: 40px 0 45px;
  background-color: $black;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    align-items: flex-end;
  }
}