.intro-list {
  margin-right: rem(10);
  display: flex;
  flex-direction: column;
  margin-top: -11px;
  row-gap: rem(18);

  @include r(1200) {
    flex-direction: row;
    column-gap: 100px;
    margin-top: 0;
    margin-right: 0;
    max-width: 500px;
    row-gap: 27px;
  }

  @include r(655) {
    flex-direction: column;
  }

  &__link {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: $gray-light;

    @include r(1200) {
      font-size: 28px;
      line-height: 22px;
    }

    &:hover {
      color: $red;
    }
  }
}