.intro-about {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__wrapper {
    display: flex;
    border: 1px solid $bg-light;
    @include r(1200) {
      flex-direction: column;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding: 40px 50px;
    width: 50%;

    @include r(1200) {
      padding: 30px 20px;
      width: 100%;
    }

    &:first-child {
      border-right: 1px solid $bg-light;

      @include r(1200) {
        border-right: none;
        border-bottom: 1px solid $bg-light;
      }
    }
  }

  &__title {
    margin-bottom: 26px;
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    color: $red;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
  }

  &__element {
    font-family: $font-second;
    font-size: 16px;
    line-height: 22px;
    color: $gray;

    @include r(1200) {
      font-size: 14px;
      line-height: 16px;
    }
  }
}
