.intro {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__top {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;

    @include r(1200) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__bottom {
    display: flex;
    align-items: flex-end;
    column-gap: rem(37);
    z-index: 0;

    @include r(1200) {
      display: none;
    }
  }

  &__title {
    position: relative;
    margin-right: rem(132);
    font-weight: 700;
    font-size: 240px;
    letter-spacing: 9px;
    color: $dark;
    z-index: 1;
    @include r(1200) {
      font-size: 94px;
      letter-spacing: 0;
    }

    span {
      position: absolute;
      right: -47%;
      bottom: -81%;
      content: "Tech";
      color: $red;
    }
  }

  &__text {
    margin-bottom: rem(3);
    flex-shrink: 0;
    width: rem(360);
    font-family: $font-second;
    font-size: 14px;
    line-height: 20px;
    color: $gray;

    @include r(1200) {
      width: auto;
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__slogan {
    display: none;
    @include r(1200) {
      display: flex;
      flex-direction: column-reverse;
      row-gap: 20px;
      padding-top: 45px;
      z-index: 0;
    }
  }

  &__picture {
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    flex-shrink: 0;
    width: 1148px;
    height: rem(300);

    @include r(1200) {
      width: 100%;
      max-width: 296px;
      height: 100px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__button {
    position: absolute;
    bottom: -36px;
    right: 147px;

    @include r(1200) {
      right: 12px;
      bottom: -12px;
    }
  }
}