.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.24);
  opacity: 0;
  visibility: hidden;
  transition: .4s ease-in-out;
  transform: translateY(20%);
  height: 100%;

  &--about {
    padding: 167px 0;
    background-color: $light;
    justify-content: flex-start;
    align-items: flex-start;

    @include r(1200) {
      padding: 62px 0;
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
    z-index: 3;
    transform: translateY(0);
    .modal__container {
      opacity: 1;
      transform: none;
    }
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    padding: 60px;
    max-width: 546px;
    background-color: #fff;
    opacity: 0;
    transform: translateY(100px);
    transition: .3s ease-in-out;
    overflow-y: auto;

    @include r(1200) {
      row-gap: 40px;
      padding: 60px 24px;
    }

    @include r(768) {
      max-width: 100%;
      margin: 0 12px;
    }

    @include r(579) {
      padding: 20px 24px;
    }
  }

  &__title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: $dark;

    @include r(1200) {
      font-size: 28px;
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background: $light;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
    transition: .2s linear;
    &:hover {
      background-color: $dark;
      .modal__icon {
        fill: $light;
      }
    }
  }

  &__icon {
    display: flex;
    width: 24px;
    height: 24px;
  }
}
