.article-team {
  position: relative;
  display: flex;
  width: 100%;
  height: 260px;
  background-color: #E6E6E6;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: rgba(4, 4, 4, 0.50);
    backdrop-filter: blur(2px);
    z-index: 1;
    opacity: 0;
    transition: opacity .2s linear;
  }

  &:hover:not(.article-team--accent) {
    &::before {
      opacity: 1;
    }
    .article-team__info {
      opacity: 1;
    }
    .article-team__main {
      position: absolute;
      opacity: 0;
      visibility: hidden;
    }
    .article-team__back {
      opacity: 1;
      visibility: visible;
    }
  }

  &--light {
    background-color: #FFF6F6;
  }

  &--accent {
    background-color: $red;
    height: 100%;
    cursor: auto;

    .article-team__info {
      position: static;
      bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 85px 42px 41px;
      height: 100%;
      width: 100%;
      text-align: center;
      opacity: 1;
    }
    .article-team__title {
      font-family: $font-main;
      font-size: 240px;
      font-weight: 700;
      letter-spacing: 9.6px;
      text-transform: uppercase;
      color: $light;
    }
    .article-team__text {
      font-size: 18px;
      font-weight: 400;
      color: $light;
    }
  }

  &__picture {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;

    img {
      display: block;
      height: auto;
      object-fit: cover;
      transition: .2s linear;
    }
  }

  &__info {
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 26px;
    width: 100%;
    font-family: $font-second;
    color: $light;
    text-align: center;
    opacity: 0;
    z-index: 2;
    transition: .2s linear;
  }

  &__title {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
  }

  &__main {
    position: absolute;
    opacity: 1;
    visibility: visible;
  }

  &__back {
    opacity: 0;
    visibility: hidden;
  }
}
