.article-blog {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
   .article-blog__title {
     color: $red;
   }
  }

  &__picture {
    margin-bottom: 40px;
    width: 100%;
    height: 520px;
    background-color: $gray-light;

    @include r(768) {
      height: 370px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__date {
    margin-bottom: 14px;
    font-family: $font-second;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #1A1A1A;
  }

  &__title {
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    color: $dark;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: .2s linear;
  }

  &--light {
    .article-blog__title {
      color: $light;
    }
    .article-blog__date {
      color: rgba($light, 50%);
    }
  }
}