.article-tile {
  display: flex;
  width: 100%;
  height: 100%;
  cursor: pointer;

  &__picture {
    display: flex;
    width: 100%;
    height: 100%;
    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}