.article-about {
  position: relative;
  display: flex;
  padding: 60px 40px;
  flex-direction: column;
  row-gap: rem(20);

  @include r(1200) {
    padding-top: 34px;
    padding-bottom: 54px;
    row-gap: 10px;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    content: '';
    display: block;
    width: 85%;
    height: 1px;
    background-color: #E1DCDC;
    transform: translateX(-50%);

    @include r(1200) {
      width: 100%;
    }
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    display: block;
    width: 1px;
    height: 90%;
    background-color: #E1DCDC;

    @include r(1200) {
      display: none;
    }
  }

  &--first {
    &::before {
      width: 90%;
      left: 0;
      transform: none;

      @include r(1200) {
        width: 100%;
      }
    }
  }

  &--last {
    &::before {
      width: 90%;
      right: 0;
      left: inherit;
      transform: none;
      @include r(1200) {
        width: 100%;
      }
    }

    &::after {
      display: none;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    color: $red;
  }

  &__text {
    font-family: $font-second;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $gray;

    @include r(1200) {
      font-size: 14px;
      line-height: 16px;
      br {
        display: none;
      }
    }
  }
}